{% extends 'layout.html' %}
{% block body %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Soji | Tinder for files</title>
	<!-- css -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/yeti_button.css" />
    
    <!-- js -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/statis/js/dropbox.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" 
    	id="dropboxjs" 
    	data-app-key="uwkco8vvvnecigh"></script>
    <script>
    	options = {
	        // Required. Called when a user selects an item in the Chooser.
	        success: function(files) {
	            //alert("Here's the file link: " + files[0].link)
	            window.location.href = '/templates/swipe.html';
	        },
	    
	        // Optional. Called when the user closes the dialog without selecting a file
	        // and does not include any parameters.
	        cancel: function() {
	    
	        },
	    
	        // Optional. "preview" (default) is a preview link to the document for sharing,
	        // "direct" is an expiring link to download the contents of the file. For more
	        // information about link types, see Link types below.
	        linkType: "preview", // or "direct"
	    
	        // Optional. A value of false (default) limits selection to a single file, while
	        // true enables multiple file selection.
	        multiselect: true, // or true
	    
	        // Optional. This is a list of file extensions. If specified, the user will
	        // only be able to select files with these extensions. You may also specify
	        // file types, such as "video" or "images" in the list. For more information,
	        // see File types below. By default, all extensions are allowed.
	    };
    </script>
</head>

<body class="container homebody text-center">
	<h1 class="title">sōji - Tinder for files</h1>
	<div class="connect-to-dropbox">
		<a class="btn btn-primary btn-large btn-no-shadow"
			href="#"
			onClick="Dropbox.choose(options);">Connect to Dropbox</a>
		&nbsp;
	</div>
	<footer class="copyright">
		&copy; Mustard Alpaca
	</footer>
</body>
</html>
{% endblock %}
