<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Soji | Tinder for files</title>
	<!-- css -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/yeti_button.css" />

    
    <script>
        var files = [];
        $.getJSON('root_data.json', function(data) {
            
        });
    </script>
</head>

<body class="container">
    <div class="row">
        <div class="col-xs-6">
            [list of files]
        </div>
        <div class="col-xs-6">
            <div class="half-title text-center">
                choose your root
            </div>
            <div class="set-as-root text-center">
                <a class="btn btn-default btn-lg btn-no-shadow"
                    href="/templates/swipe.html">START</a>
            </div>
        </div>
    </div>
    
</body>
</html>