<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Soji | Tinder for files</title>
	<!-- font-awesome -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!-- css -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/yeti_button.css" />
    <!-- js -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="upto pull-right">
            <i class="fa fa-arrow-circle-o-up fa-5x"></i>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well preview">
                <div class="text-center">
                    <h3>filename.txt</h3>
                </div>
                <div class="text-center">
                    <img src="http://25.media.tumblr.com/tumblr_lxq4dq4Lrl1qhy6c9o2_250.gif">
                </div>
                <div class="">
                    Type:
                    <br>Location:
                    <br>Last modified:
                    <br>Created:
                    <div class="text-center">
                        <div class="pull-center">
                            <a class="btn btn-default btn-no-shadow">up/to parent folder</a>
                            <a class="btn btn-default btn-no-shadow disabled">down/enter folder</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <!-- bottom buttons here -->
                <div class="btn-group btn-group-justified">
                  <a class="btn btn-danger btn-no-shadow">left/delete</a>
                  <a class="btn btn-default btn-no-shadow" data-toggle="modal" data-target="#myModal">right/keep</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 swipe-btn text-center">
            <!--<a class="btn btn-default">right/keep</a>-->
        </div>
    </div>
</body>


</html>